/* motivacijska poruka */
.motivacija {
  font-size: 1.8rem;
  color: orange;
}
/* motivacijska poruka */

/* ime i prezime programera */
.programer {
  font-size: 1.8rem;
  color: orange;
}
/* ime i prezime programera */
